/* Full-Screen Video Background */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* full screen video */
}

/* to keep content wrapped over video */
.content-wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: white;
}

@font-face {
    font-family: 'Inter';
    font-style: light;
    font-weight: 500;
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@1,500&display=swap');
}

body {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.animated-text span {
    opacity: 0;
    display: inline-block;
    animation: letterFade 0.5s forwards;
}

@keyframes letterFade {
    from { opacity: 0; transform: translateX(-10px); }
    to { opacity: 1; transform: translateX(0); }
}

.animated-text span:nth-child(1) { animation-delay: 0s; }
.animated-text span:nth-child(2) { animation-delay: 0.1s; }
.animated-text span:nth-child(3) { animation-delay: 0.2s; }
.animated-text span:nth-child(4) { animation-delay: 0.3s; }
.animated-text span:nth-child(5) { animation-delay: 0.4s; }
.animated-text span:nth-child(6) { animation-delay: 0.5s; }
.animated-text span:nth-child(7) { animation-delay: 0.6s; }
.animated-text span:nth-child(8) { animation-delay: 0.7s; }
.animated-text span:nth-child(9) { animation-delay: 0.8s; }
.animated-text span:nth-child(10) { animation-delay: 0.9s; }
.animated-text span:nth-child(11) { animation-delay: 1s; }
.animated-text span:nth-child(12) { animation-delay: 1.1s; }
.animated-text span:nth-child(13) { animation-delay: 1.2s; }


.search-container {
    position: relative;
    width: 50px;
    transition: width 0.4s ease-in-out;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-expanded {
    width: 600px;
}


.search-box {
    border: 2px solid white;
    border-radius: 10px;
    background-color: #3c3c3c !important;
    color: whitesmoke;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
    display: none;
}

.search-box:focus {
    outline: none;
    box-shadow: none; 
    border-color: rgb(82, 82, 172);
}

.search-box::placeholder {
    color: white !important;
    opacity: 1;
}

.search-icon, .add-icon {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
